@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap');


body {
    font-family: 'El Messiri', sans-serif;
}

section {
    padding-top: 5rem;
}

#home {
    background-image: url(/asset/smk.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
}

#about {
    height: 100vh;
}

#contact{
    height: 100vh;
    background:  lightgrey;
    
}