@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

/* home start */
.home{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.home{
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url(/asset/smk.jpg);
}

.home .logo-tkj{
    position: relative;
    width: 300px;
    height: 300px;
}

.home .text-box{
    font-family: 'Roboto Slab', serif;
    position: absolute;
    color: #000000;
    text-transform: capitalize;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 100px;
}

.home .text-box h1{
    font-size: 2.5rem;
}

.home .text-box p{
    font-size: 2rem;
}
/* home end */


/* about start */
.about{
    height: 100vh;
    width: 100%;display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px 0;
    position: absolute;
}

.about h1{
    text-transform: capitalize;
    font-size: 2.5rem;
}
div.about p{
    text-align: center;
    text-transform: lowercase;
    font-size: 1.2rem;
}
/* about end */


/* contact start */
.contact{
    width: 100%;
    height: 100vh;
}
/* contact end */





/* responsive screen start */
@media screen and (max-width:990px) {
    .home .text-box{
        display: flex;
        flex-direction: column;
    }
    .home .text-box .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home .text-box .text h1{
        align-items: center;
        display: flex;
        width: 100%;
    }
}

@media screen and (max-width:576px) {
    .text{
        display: flex;
        align-items: center;
    }
    .text-box .text h1{
        font-size: 1.8rem;
    }
    .text-box .text p{
        font-size: 1.2rem;
    }
}
/* responsive screen end */